.layout{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.button{
    display: inline-block;
    padding: 8px 10px;
    text-decoration:  none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s;
}
.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.steal{
    background-color: #009688;
}
.yellow{
    background-color: #ffeb3b;
    color: #000;
}
.orange{
    background-color: #ff9800;
    color: #000;
}
.red{
    background-color: #f44336;
}
.green{
    background-color:#4CAF50;
}