.layout{
    margin: 0 auto;
    width: 600px;
    text-align: center;
}
.h-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ccc;
    border: none;
}
.first-table{
    margin-bottom: 30px;
    border: 1px solid #ccc;
   
}
.first-table th{
    background-color: #4CAF50;
    padding: 8px;
    color: #ffffff;
}
.bg-pray{
    background-color: #f1f1f1;
}
th,td{
    padding: 8px;
}





  